.containerPagamento{
    width: 500px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.DivPrenchimentoParaCartao{
    width: 95%;
    background-color: white;
    display: subgrid;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px;
    margin: 15px;
    
    
}

.divAlight{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.divAlight span{
    width: 100%;
}

.divLista{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.divLista button{
    margin-top: 20px;
}
