.container_card{
    background-color: rgb(219, 219, 219);
    width: 500px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    
}

.button_card{
    background: none;
    border: 1px solid #111c27;
    padding: 10px 30px;
    border-radius: 9px;
    width: 40%;
    font-size: 0.7rem;
}

.button_terms{
    color:#111c27 ;
}

.button_Join{
    background-color: #111c27;
    color: rgb(219, 219, 219);
}

.div_img{
    width: 100%;
    height: 40%;
    margin-bottom: 10px;
}
.img_card{
    width: 100%;
    height: 100%;
}
.div_button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.div_descrition{
    padding: 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%);   
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: #111c27;
    margin: 10px 0;
}

.description{
    margin: 10px 0;
}